In [1]:
import numpy as np
import pandas as pd
import fileinput
import json
from tqdm import tqdm
tqdm.pandas()

In [2]:
%%time

df = pd.read_json('TREC_Washington_Post_collection-v4.jl', lines=True)
  
df.head()

CPU times: user 2min 58s, sys: 1min 48s, total: 4min 46s
Wall time: 4min 46s

,id,article_url,title,author,published_date,contents,type,source,content,publish_date,orig-id
0,b2e89334-33f9-11e1-825f-dabc29fd7071,https://www.washingtonpost.com/sports/colleges...,"Danny Coale, Jarrett Boykin are a perfect 1-2 ...",Mark Giannotto,1.325377e+12,"[{'content': 'Colleges', 'mime': 'text/plain',...",article,The Washington Post,"[{'content': 'Colleges', 'mime': 'text/plain',...",NaN,NaN
1,749ec5b2-32f5-11e1-825f-dabc29fd7071,https://www.washingtonpost.com/local/bubbly-pl...,Bubbly planet Venus starts off New Year,Blaine P. Friedlander Jr.,1.325377e+12,"[{'content': 'Local', 'mime': 'text/plain', 't...",article,The Washington Post,"[{'content': 'Local', 'mime': 'text/plain', 't...",NaN,NaN
2,69654742-33d7-11e1-825f-dabc29fd7071,https://www.washingtonpost.com/politics/iowa-c...,Iowa caucuses: GOP presidential hopefuls makin...,Karen Tumulty,1.325379e+12,"[{'content': 'Politics', 'mime': 'text/plain',...",article,The Washington Post,"[{'content': 'Politics', 'mime': 'text/plain',...",NaN,NaN
3,d5966ad2-33f9-11e1-825f-dabc29fd7071,https://www.washingtonpost.com/sports/wizards/...,"John Wall, Wizards seek to pick up their spirits",Michael Lee,1.325379e+12,"[{'content': 'Wizards/NBA', 'mime': 'text/plai...",article,The Washington Post,"[{'content': 'Wizards/NBA', 'mime': 'text/plai...",NaN,NaN
4,f2c10c06-2c0c-11e1-9952-55d90a4e2d6d,https://www.washingtonpost.com/local/developer...,Developer of Maryland housing office in Prince...,Ovetta Wiggins,1.325379e+12,"[{'content': 'Local', 'mime': 'text/plain', 't...",article,The Washington Post,"[{'content': 'Local', 'mime': 'text/plain', 't...",NaN,NaN

In [3]:
#im ersten durchlauf gedropped
df.drop('article_url', inplace=True, axis=1)
df.drop('published_date', inplace=True, axis=1)
df.drop('content', inplace=True, axis=1)
df.drop('publish_date', inplace=True, axis=1)
df.drop('orig-id', inplace=True, axis=1)

In [4]:
#im zweiten durchlauf gedropped
df.drop('id', inplace=True, axis=1)
df.drop('type', inplace=True, axis=1)
df.drop('source', inplace=True, axis=1)

In [6]:
#im dritten durchlauf gedropped
df.drop('title', inplace=True, axis=1)
df.drop('author', inplace=True, axis=1)

In [9]:
df

                                                 contents
0       [{'content': 'Colleges', 'mime': 'text/plain',...
1       [{'content': 'Local', 'mime': 'text/plain', 't...
2       [{'content': 'Politics', 'mime': 'text/plain',...
3       [{'content': 'Wizards/NBA', 'mime': 'text/plai...
4       [{'content': 'Local', 'mime': 'text/plain', 't...
...                                                   ...
728621  [{'content': 'Style', 'mime': 'text/plain', 's...
728622  [{'content': 'D.C. Sports Bog', 'mime': 'text/...
728623  [{'content': None, 'mime': 'text/plain', 'sect...
728624  [{'content': 'The Americas', 'mime': 'text/pla...
728625  [{'content': 'Opinions', 'mime': 'text/plain',...

[728626 rows x 1 columns]

In [8]:
df.to_json("export-4_k.json",orient="index")